@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?9fv3gf') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?9fv3gf') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?9fv3gf##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ico {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-file-text {
  &:before {
    content: $ico-file-text; 
  }
}
.ico-profile {
  &:before {
    content: $ico-profile; 
  }
}
.ico-file-empty {
  &:before {
    content: $ico-file-empty; 
  }
}
.ico-files-empty {
  &:before {
    content: $ico-files-empty; 
  }
}
.ico-file-text2 {
  &:before {
    content: $ico-file-text2; 
  }
}
.ico-file-picture {
  &:before {
    content: $ico-file-picture; 
  }
}
.ico-file-music {
  &:before {
    content: $ico-file-music; 
  }
}
.ico-file-play {
  &:before {
    content: $ico-file-play; 
  }
}
.ico-file-video {
  &:before {
    content: $ico-file-video; 
  }
}
.ico-file-zip {
  &:before {
    content: $ico-file-zip; 
  }
}
.ico-copy {
  &:before {
    content: $ico-copy; 
  }
}
.ico-paste {
  &:before {
    content: $ico-paste; 
  }
}
.ico-folder {
  &:before {
    content: $ico-folder; 
  }
}
.ico-folder-open {
  &:before {
    content: $ico-folder-open; 
  }
}
.ico-folder-plus {
  &:before {
    content: $ico-folder-plus; 
  }
}
.ico-folder-minus {
  &:before {
    content: $ico-folder-minus; 
  }
}
.ico-folder-download {
  &:before {
    content: $ico-folder-download; 
  }
}
.ico-folder-upload {
  &:before {
    content: $ico-folder-upload; 
  }
}
.ico-price-tag {
  &:before {
    content: $ico-price-tag; 
  }
}
.ico-price-tags {
  &:before {
    content: $ico-price-tags; 
  }
}
.ico-barcode {
  &:before {
    content: $ico-barcode; 
  }
}
.ico-qrcode {
  &:before {
    content: $ico-qrcode; 
  }
}
.ico-credit-card {
  &:before {
    content: $ico-credit-card; 
  }
}
.ico-pushpin {
  &:before {
    content: $ico-pushpin; 
  }
}
.ico-compass {
  &:before {
    content: $ico-compass; 
  }
}
.ico-history {
  &:before {
    content: $ico-history; 
  }
}
.ico-clock {
  &:before {
    content: $ico-clock; 
  }
}
.ico-clock2 {
  &:before {
    content: $ico-clock2; 
  }
}
.ico-alarm {
  &:before {
    content: $ico-alarm; 
  }
}
.ico-bell {
  &:before {
    content: $ico-bell; 
  }
}
.ico-stopwatch {
  &:before {
    content: $ico-stopwatch; 
  }
}
.ico-calendar {
  &:before {
    content: $ico-calendar; 
  }
}
.ico-keyboard {
  &:before {
    content: $ico-keyboard; 
  }
}
.ico-drawer {
  &:before {
    content: $ico-drawer; 
  }
}
.ico-drawer2 {
  &:before {
    content: $ico-drawer2; 
  }
}
.ico-box-add {
  &:before {
    content: $ico-box-add; 
  }
}
.ico-box-remove {
  &:before {
    content: $ico-box-remove; 
  }
}
.ico-download {
  &:before {
    content: $ico-download; 
  }
}
.ico-upload {
  &:before {
    content: $ico-upload; 
  }
}
.ico-floppy-disk {
  &:before {
    content: $ico-floppy-disk; 
  }
}
.ico-undo {
  &:before {
    content: $ico-undo; 
  }
}
.ico-redo {
  &:before {
    content: $ico-redo; 
  }
}
.ico-undo2 {
  &:before {
    content: $ico-undo2; 
  }
}
.ico-redo2 {
  &:before {
    content: $ico-redo2; 
  }
}
.ico-bubble {
  &:before {
    content: $ico-bubble; 
  }
}
.ico-bubbles {
  &:before {
    content: $ico-bubbles; 
  }
}
.ico-bubbles2 {
  &:before {
    content: $ico-bubbles2; 
  }
}
.ico-bubble2 {
  &:before {
    content: $ico-bubble2; 
  }
}
.ico-bubbles3 {
  &:before {
    content: $ico-bubbles3; 
  }
}
.ico-bubbles4 {
  &:before {
    content: $ico-bubbles4; 
  }
}
.ico-user {
  &:before {
    content: $ico-user; 
  }
}
.ico-users {
  &:before {
    content: $ico-users; 
  }
}
.ico-user-plus {
  &:before {
    content: $ico-user-plus; 
  }
}
.ico-user-minus {
  &:before {
    content: $ico-user-minus; 
  }
}
.ico-user-check {
  &:before {
    content: $ico-user-check; 
  }
}
.ico-user-tie {
  &:before {
    content: $ico-user-tie; 
  }
}
.ico-hour-glass {
  &:before {
    content: $ico-hour-glass; 
  }
}
.ico-spinner {
  &:before {
    content: $ico-spinner; 
  }
}
.ico-spinner2 {
  &:before {
    content: $ico-spinner2; 
  }
}
.ico-spinner3 {
  &:before {
    content: $ico-spinner3; 
  }
}
.ico-spinner4 {
  &:before {
    content: $ico-spinner4; 
  }
}
.ico-spinner6 {
  &:before {
    content: $ico-spinner6; 
  }
}
.ico-spinner7 {
  &:before {
    content: $ico-spinner7; 
  }
}
.ico-spinner9 {
  &:before {
    content: $ico-spinner9; 
  }
}
.ico-spinner10 {
  &:before {
    content: $ico-spinner10; 
  }
}
.ico-spinner11 {
  &:before {
    content: $ico-spinner11; 
  }
}
.ico-search {
  &:before {
    content: $ico-search; 
  }
}
.ico-zoom-in {
  &:before {
    content: $ico-zoom-in; 
  }
}
.ico-zoom-out {
  &:before {
    content: $ico-zoom-out; 
  }
}
.ico-enlarge {
  &:before {
    content: $ico-enlarge; 
  }
}
.ico-shrink {
  &:before {
    content: $ico-shrink; 
  }
}
.ico-enlarge2 {
  &:before {
    content: $ico-enlarge2; 
  }
}
.ico-shrink2 {
  &:before {
    content: $ico-shrink2; 
  }
}
.ico-key2 {
  &:before {
    content: $ico-key2; 
  }
}
.ico-lock {
  &:before {
    content: $ico-lock; 
  }
}
.ico-unlocked {
  &:before {
    content: $ico-unlocked; 
  }
}
.ico-wrench {
  &:before {
    content: $ico-wrench; 
  }
}
.ico-equalizer {
  &:before {
    content: $ico-equalizer; 
  }
}
.ico-equalizer2 {
  &:before {
    content: $ico-equalizer2; 
  }
}
.ico-cog {
  &:before {
    content: $ico-cog; 
  }
}
.ico-aid-kit {
  &:before {
    content: $ico-aid-kit; 
  }
}
.ico-bug {
  &:before {
    content: $ico-bug; 
  }
}
.ico-pie-chart {
  &:before {
    content: $ico-pie-chart; 
  }
}
.ico-stats-dots {
  &:before {
    content: $ico-stats-dots; 
  }
}
.ico-stats-bars {
  &:before {
    content: $ico-stats-bars; 
  }
}
.ico-magnet {
  &:before {
    content: $ico-magnet; 
  }
}
.ico-bin {
  &:before {
    content: $ico-bin; 
  }
}
.ico-bin2 {
  &:before {
    content: $ico-bin2; 
  }
}
.ico-briefcase {
  &:before {
    content: $ico-briefcase; 
  }
}
.ico-switch {
  &:before {
    content: $ico-switch; 
  }
}
.ico-list-numbered {
  &:before {
    content: $ico-list-numbered; 
  }
}
.ico-list {
  &:before {
    content: $ico-list; 
  }
}
.ico-list2 {
  &:before {
    content: $ico-list2; 
  }
}
.ico-menu {
  &:before {
    content: $ico-menu; 
  }
}
.ico-cloud {
  &:before {
    content: $ico-cloud; 
  }
}
.ico-cloud-download {
  &:before {
    content: $ico-cloud-download; 
  }
}
.ico-cloud-upload {
  &:before {
    content: $ico-cloud-upload; 
  }
}
.ico-cloud-check {
  &:before {
    content: $ico-cloud-check; 
  }
}
.ico-download2 {
  &:before {
    content: $ico-download2; 
  }
}
.ico-upload2 {
  &:before {
    content: $ico-upload2; 
  }
}
.ico-download3 {
  &:before {
    content: $ico-download3; 
  }
}
.ico-upload3 {
  &:before {
    content: $ico-upload3; 
  }
}
.ico-sphere {
  &:before {
    content: $ico-sphere; 
  }
}
.ico-eye {
  &:before {
    content: $ico-eye; 
  }
}
.ico-eye-blocked {
  &:before {
    content: $ico-eye-blocked; 
  }
}
.ico-bookmark {
  &:before {
    content: $ico-bookmark; 
  }
}
.ico-bookmarks {
  &:before {
    content: $ico-bookmarks; 
  }
}
.ico-star-empty {
  &:before {
    content: $ico-star-empty; 
  }
}
.ico-star-half {
  &:before {
    content: $ico-star-half; 
  }
}
.ico-star-full {
  &:before {
    content: $ico-star-full; 
  }
}
.ico-heart {
  &:before {
    content: $ico-heart; 
  }
}
.ico-heart-broken {
  &:before {
    content: $ico-heart-broken; 
  }
}
.ico-man {
  &:before {
    content: $ico-man; 
  }
}
.ico-woman {
  &:before {
    content: $ico-woman; 
  }
}
.ico-man-woman {
  &:before {
    content: $ico-man-woman; 
  }
}
.ico-smile {
  &:before {
    content: $ico-smile; 
  }
}
.ico-sad {
  &:before {
    content: $ico-sad; 
  }
}
.ico-point-up {
  &:before {
    content: $ico-point-up; 
  }
}
.ico-point-right {
  &:before {
    content: $ico-point-right; 
  }
}
.ico-point-down {
  &:before {
    content: $ico-point-down; 
  }
}
.ico-point-left {
  &:before {
    content: $ico-point-left; 
  }
}
.ico-warning {
  &:before {
    content: $ico-warning; 
  }
}
.ico-notification {
  &:before {
    content: $ico-notification; 
  }
}
.ico-question {
  &:before {
    content: $ico-question; 
  }
}
.ico-plus {
  &:before {
    content: $ico-plus; 
  }
}
.ico-minus {
  &:before {
    content: $ico-minus; 
  }
}
.ico-info {
  &:before {
    content: $ico-info; 
  }
}
.ico-cancel-circle {
  &:before {
    content: $ico-cancel-circle; 
  }
}
.ico-blocked {
  &:before {
    content: $ico-blocked; 
  }
}
.ico-cross {
  &:before {
    content: $ico-cross; 
  }
}
.ico-checkmark {
  &:before {
    content: $ico-checkmark; 
  }
}
.ico-checkmark2 {
  &:before {
    content: $ico-checkmark2; 
  }
}
.ico-spell-check {
  &:before {
    content: $ico-spell-check; 
  }
}
.ico-enter {
  &:before {
    content: $ico-enter; 
  }
}
.ico-exit {
  &:before {
    content: $ico-exit; 
  }
}
.ico-play2 {
  &:before {
    content: $ico-play2; 
  }
}
.ico-pause {
  &:before {
    content: $ico-pause; 
  }
}
.ico-stop {
  &:before {
    content: $ico-stop; 
  }
}
.ico-previous {
  &:before {
    content: $ico-previous; 
  }
}
.ico-next {
  &:before {
    content: $ico-next; 
  }
}
.ico-backward {
  &:before {
    content: $ico-backward; 
  }
}
.ico-forward2 {
  &:before {
    content: $ico-forward2; 
  }
}
.ico-play3 {
  &:before {
    content: $ico-play3; 
  }
}
.ico-pause2 {
  &:before {
    content: $ico-pause2; 
  }
}
.ico-stop2 {
  &:before {
    content: $ico-stop2; 
  }
}
.ico-backward2 {
  &:before {
    content: $ico-backward2; 
  }
}
.ico-forward3 {
  &:before {
    content: $ico-forward3; 
  }
}
.ico-first {
  &:before {
    content: $ico-first; 
  }
}
.ico-last {
  &:before {
    content: $ico-last; 
  }
}
.ico-previous2 {
  &:before {
    content: $ico-previous2; 
  }
}
.ico-next2 {
  &:before {
    content: $ico-next2; 
  }
}
.ico-eject {
  &:before {
    content: $ico-eject; 
  }
}
.ico-volume-high {
  &:before {
    content: $ico-volume-high; 
  }
}
.ico-volume-medium {
  &:before {
    content: $ico-volume-medium; 
  }
}
.ico-volume-low {
  &:before {
    content: $ico-volume-low; 
  }
}
.ico-volume-mute {
  &:before {
    content: $ico-volume-mute; 
  }
}
.ico-volume-mute2 {
  &:before {
    content: $ico-volume-mute2; 
  }
}
.ico-volume-increase {
  &:before {
    content: $ico-volume-increase; 
  }
}
.ico-volume-decrease {
  &:before {
    content: $ico-volume-decrease; 
  }
}
.ico-loop2 {
  &:before {
    content: $ico-loop2; 
  }
}
.ico-arrow-up-left {
  &:before {
    content: $ico-arrow-up-left; 
  }
}
.ico-arrow-up {
  &:before {
    content: $ico-arrow-up; 
  }
}
.ico-arrow-up-right {
  &:before {
    content: $ico-arrow-up-right; 
  }
}
.ico-arrow-right {
  &:before {
    content: $ico-arrow-right; 
  }
}
.ico-arrow-down-right {
  &:before {
    content: $ico-arrow-down-right; 
  }
}
.ico-arrow-down {
  &:before {
    content: $ico-arrow-down; 
  }
}
.ico-arrow-down-left {
  &:before {
    content: $ico-arrow-down-left; 
  }
}
.ico-arrow-left {
  &:before {
    content: $ico-arrow-left; 
  }
}
.ico-arrow-up-left2 {
  &:before {
    content: $ico-arrow-up-left2; 
  }
}
.ico-arrow-up2 {
  &:before {
    content: $ico-arrow-up2; 
  }
}
.ico-arrow-up-right2 {
  &:before {
    content: $ico-arrow-up-right2; 
  }
}
.ico-arrow-right2 {
  &:before {
    content: $ico-arrow-right2; 
  }
}
.ico-arrow-down-right2 {
  &:before {
    content: $ico-arrow-down-right2; 
  }
}
.ico-arrow-down2 {
  &:before {
    content: $ico-arrow-down2; 
  }
}
.ico-arrow-down-left2 {
  &:before {
    content: $ico-arrow-down-left2; 
  }
}
.ico-arrow-left2 {
  &:before {
    content: $ico-arrow-left2; 
  }
}
.ico-circle-up {
  &:before {
    content: $ico-circle-up; 
  }
}
.ico-circle-right {
  &:before {
    content: $ico-circle-right; 
  }
}
.ico-circle-down {
  &:before {
    content: $ico-circle-down; 
  }
}
.ico-circle-left {
  &:before {
    content: $ico-circle-left; 
  }
}
.ico-sort-alpha-asc {
  &:before {
    content: $ico-sort-alpha-asc; 
  }
}
.ico-sort-alpha-desc {
  &:before {
    content: $ico-sort-alpha-desc; 
  }
}
.ico-sort-amount-asc {
  &:before {
    content: $ico-sort-amount-asc; 
  }
}
.ico-sort-amount-desc {
  &:before {
    content: $ico-sort-amount-desc; 
  }
}
.ico-command {
  &:before {
    content: $ico-command; 
  }
}
.ico-shift {
  &:before {
    content: $ico-shift; 
  }
}
.ico-ctrl {
  &:before {
    content: $ico-ctrl; 
  }
}
.ico-opt {
  &:before {
    content: $ico-opt; 
  }
}
.ico-checkbox-checked {
  &:before {
    content: $ico-checkbox-checked; 
  }
}
.ico-checkbox-unchecked {
  &:before {
    content: $ico-checkbox-unchecked; 
  }
}
.ico-radio-checked {
  &:before {
    content: $ico-radio-checked; 
  }
}
.ico-radio-checked2 {
  &:before {
    content: $ico-radio-checked2; 
  }
}
.ico-radio-unchecked {
  &:before {
    content: $ico-radio-unchecked; 
  }
}
.ico-scissors {
  &:before {
    content: $ico-scissors; 
  }
}
.ico-filter {
  &:before {
    content: $ico-filter; 
  }
}
.ico-section {
  &:before {
    content: $ico-section; 
  }
}
.ico-paragraph-left {
  &:before {
    content: $ico-paragraph-left; 
  }
}
.ico-paragraph-center {
  &:before {
    content: $ico-paragraph-center; 
  }
}
.ico-paragraph-right {
  &:before {
    content: $ico-paragraph-right; 
  }
}
.ico-paragraph-justify {
  &:before {
    content: $ico-paragraph-justify; 
  }
}
.ico-indent-increase {
  &:before {
    content: $ico-indent-increase; 
  }
}
.ico-indent-decrease {
  &:before {
    content: $ico-indent-decrease; 
  }
}
.ico-new-tab {
  &:before {
    content: $ico-new-tab; 
  }
}
.ico-embed {
  &:before {
    content: $ico-embed; 
  }
}
.ico-embed2 {
  &:before {
    content: $ico-embed2; 
  }
}
.ico-share2 {
  &:before {
    content: $ico-share2; 
  }
}
.ico-google2 {
  &:before {
    content: $ico-google2; 
  }
}
.ico-google-plus2 {
  &:before {
    content: $ico-google-plus2; 
  }
}
.ico-facebook2 {
  &:before {
    content: $ico-facebook2; 
  }
}
.ico-telegram {
  &:before {
    content: $ico-telegram; 
  }
}
.ico-twitter {
  &:before {
    content: $ico-twitter; 
  }
}
.ico-vk {
  &:before {
    content: $ico-vk; 
  }
}
.ico-youtube {
  &:before {
    content: $ico-youtube; 
  }
}
.ico-youtube2 {
  &:before {
    content: $ico-youtube2; 
  }
}
.ico-vimeo2 {
  &:before {
    content: $ico-vimeo2; 
  }
}
.ico-lanyrd {
  &:before {
    content: $ico-lanyrd; 
  }
}
.ico-onedrive {
  &:before {
    content: $ico-onedrive; 
  }
}
.ico-github {
  &:before {
    content: $ico-github; 
  }
}
.ico-tux {
  &:before {
    content: $ico-tux; 
  }
}
.ico-appleinc {
  &:before {
    content: $ico-appleinc; 
  }
}
.ico-finder {
  &:before {
    content: $ico-finder; 
  }
}
.ico-android {
  &:before {
    content: $ico-android; 
  }
}
.ico-windows {
  &:before {
    content: $ico-windows; 
  }
}
.ico-windows8 {
  &:before {
    content: $ico-windows8; 
  }
}
.ico-skype {
  &:before {
    content: $ico-skype; 
  }
}
.ico-reddit {
  &:before {
    content: $ico-reddit; 
  }
}
.ico-linkedin {
  &:before {
    content: $ico-linkedin; 
  }
}
.ico-chrome {
  &:before {
    content: $ico-chrome; 
  }
}
.ico-firefox {
  &:before {
    content: $ico-firefox; 
  }
}
.ico-IE {
  &:before {
    content: $ico-IE; 
  }
}
.ico-edge {
  &:before {
    content: $ico-edge; 
  }
}
.ico-safari {
  &:before {
    content: $ico-safari; 
  }
}
.ico-opera {
  &:before {
    content: $ico-opera; 
  }
}
.ico-file-pdf {
  &:before {
    content: $ico-file-pdf; 
  }
}
.ico-file-word {
  &:before {
    content: $ico-file-word; 
  }
}

