$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$ico-file-text: "\e922";
$ico-profile: "\e923";
$ico-file-empty: "\e924";
$ico-files-empty: "\e925";
$ico-file-text2: "\e926";
$ico-file-picture: "\e927";
$ico-file-music: "\e928";
$ico-file-play: "\e929";
$ico-file-video: "\e92a";
$ico-file-zip: "\e92b";
$ico-copy: "\e92c";
$ico-paste: "\e92d";
$ico-folder: "\e92f";
$ico-folder-open: "\e930";
$ico-folder-plus: "\e931";
$ico-folder-minus: "\e932";
$ico-folder-download: "\e933";
$ico-folder-upload: "\e934";
$ico-price-tag: "\e935";
$ico-price-tags: "\e936";
$ico-barcode: "\e937";
$ico-qrcode: "\e938";
$ico-credit-card: "\e93f";
$ico-pushpin: "\e946";
$ico-compass: "\e949";
$ico-history: "\e94d";
$ico-clock: "\e94e";
$ico-clock2: "\e94f";
$ico-alarm: "\e950";
$ico-bell: "\e951";
$ico-stopwatch: "\e952";
$ico-calendar: "\e953";
$ico-keyboard: "\e955";
$ico-drawer: "\e95c";
$ico-drawer2: "\e95d";
$ico-box-add: "\e95e";
$ico-box-remove: "\e95f";
$ico-download: "\e960";
$ico-upload: "\e961";
$ico-floppy-disk: "\e962";
$ico-undo: "\e965";
$ico-redo: "\e966";
$ico-undo2: "\e967";
$ico-redo2: "\e968";
$ico-bubble: "\e96b";
$ico-bubbles: "\e96c";
$ico-bubbles2: "\e96d";
$ico-bubble2: "\e96e";
$ico-bubbles3: "\e96f";
$ico-bubbles4: "\e970";
$ico-user: "\e971";
$ico-users: "\e972";
$ico-user-plus: "\e973";
$ico-user-minus: "\e974";
$ico-user-check: "\e975";
$ico-user-tie: "\e976";
$ico-hour-glass: "\e979";
$ico-spinner: "\e97a";
$ico-spinner2: "\e97b";
$ico-spinner3: "\e97c";
$ico-spinner4: "\e97d";
$ico-spinner6: "\e97f";
$ico-spinner7: "\e980";
$ico-spinner9: "\e982";
$ico-spinner10: "\e983";
$ico-spinner11: "\e984";
$ico-search: "\e986";
$ico-zoom-in: "\e987";
$ico-zoom-out: "\e988";
$ico-enlarge: "\e989";
$ico-shrink: "\e98a";
$ico-enlarge2: "\e98b";
$ico-shrink2: "\e98c";
$ico-key2: "\e98e";
$ico-lock: "\e98f";
$ico-unlocked: "\e990";
$ico-wrench: "\e991";
$ico-equalizer: "\e992";
$ico-equalizer2: "\e993";
$ico-cog: "\e994";
$ico-aid-kit: "\e998";
$ico-bug: "\e999";
$ico-pie-chart: "\e99a";
$ico-stats-dots: "\e99b";
$ico-stats-bars: "\e99c";
$ico-magnet: "\e9ab";
$ico-bin: "\e9ac";
$ico-bin2: "\e9ad";
$ico-briefcase: "\e9ae";
$ico-switch: "\e9b6";
$ico-list-numbered: "\e9b9";
$ico-list: "\e9ba";
$ico-list2: "\e9bb";
$ico-menu: "\e9bd";
$ico-cloud: "\e9c1";
$ico-cloud-download: "\e9c2";
$ico-cloud-upload: "\e9c3";
$ico-cloud-check: "\e9c4";
$ico-download2: "\e9c5";
$ico-upload2: "\e9c6";
$ico-download3: "\e9c7";
$ico-upload3: "\e9c8";
$ico-sphere: "\e9c9";
$ico-eye: "\e9ce";
$ico-eye-blocked: "\e9d1";
$ico-bookmark: "\e9d2";
$ico-bookmarks: "\e9d3";
$ico-star-empty: "\e9d7";
$ico-star-half: "\e9d8";
$ico-star-full: "\e9d9";
$ico-heart: "\e9da";
$ico-heart-broken: "\e9db";
$ico-man: "\e9dc";
$ico-woman: "\e9dd";
$ico-man-woman: "\e9de";
$ico-smile: "\e9e1";
$ico-sad: "\e9e5";
$ico-point-up: "\ea03";
$ico-point-right: "\ea04";
$ico-point-down: "\ea05";
$ico-point-left: "\ea06";
$ico-warning: "\ea07";
$ico-notification: "\ea08";
$ico-question: "\ea09";
$ico-plus: "\ea0a";
$ico-minus: "\ea0b";
$ico-info: "\ea0c";
$ico-cancel-circle: "\ea0d";
$ico-blocked: "\ea0e";
$ico-cross: "\ea0f";
$ico-checkmark: "\ea10";
$ico-checkmark2: "\ea11";
$ico-spell-check: "\ea12";
$ico-enter: "\ea13";
$ico-exit: "\ea14";
$ico-play2: "\ea15";
$ico-pause: "\ea16";
$ico-stop: "\ea17";
$ico-previous: "\ea18";
$ico-next: "\ea19";
$ico-backward: "\ea1a";
$ico-forward2: "\ea1b";
$ico-play3: "\ea1c";
$ico-pause2: "\ea1d";
$ico-stop2: "\ea1e";
$ico-backward2: "\ea1f";
$ico-forward3: "\ea20";
$ico-first: "\ea21";
$ico-last: "\ea22";
$ico-previous2: "\ea23";
$ico-next2: "\ea24";
$ico-eject: "\ea25";
$ico-volume-high: "\ea26";
$ico-volume-medium: "\ea27";
$ico-volume-low: "\ea28";
$ico-volume-mute: "\ea29";
$ico-volume-mute2: "\ea2a";
$ico-volume-increase: "\ea2b";
$ico-volume-decrease: "\ea2c";
$ico-loop2: "\ea2e";
$ico-arrow-up-left: "\ea31";
$ico-arrow-up: "\ea32";
$ico-arrow-up-right: "\ea33";
$ico-arrow-right: "\ea34";
$ico-arrow-down-right: "\ea35";
$ico-arrow-down: "\ea36";
$ico-arrow-down-left: "\ea37";
$ico-arrow-left: "\ea38";
$ico-arrow-up-left2: "\ea39";
$ico-arrow-up2: "\ea3a";
$ico-arrow-up-right2: "\ea3b";
$ico-arrow-right2: "\ea3c";
$ico-arrow-down-right2: "\ea3d";
$ico-arrow-down2: "\ea3e";
$ico-arrow-down-left2: "\ea3f";
$ico-arrow-left2: "\ea40";
$ico-circle-up: "\ea41";
$ico-circle-right: "\ea42";
$ico-circle-down: "\ea43";
$ico-circle-left: "\ea44";
$ico-sort-alpha-asc: "\ea48";
$ico-sort-alpha-desc: "\ea49";
$ico-sort-amount-asc: "\ea4c";
$ico-sort-amount-desc: "\ea4d";
$ico-command: "\ea4e";
$ico-shift: "\ea4f";
$ico-ctrl: "\ea50";
$ico-opt: "\ea51";
$ico-checkbox-checked: "\ea52";
$ico-checkbox-unchecked: "\ea53";
$ico-radio-checked: "\ea54";
$ico-radio-checked2: "\ea55";
$ico-radio-unchecked: "\ea56";
$ico-scissors: "\ea5a";
$ico-filter: "\ea5b";
$ico-section: "\ea76";
$ico-paragraph-left: "\ea77";
$ico-paragraph-center: "\ea78";
$ico-paragraph-right: "\ea79";
$ico-paragraph-justify: "\ea7a";
$ico-indent-increase: "\ea7b";
$ico-indent-decrease: "\ea7c";
$ico-new-tab: "\ea7e";
$ico-embed: "\ea7f";
$ico-embed2: "\ea80";
$ico-share2: "\ea82";
$ico-google2: "\ea89";
$ico-google-plus2: "\ea8c";
$ico-facebook2: "\ea91";
$ico-telegram: "\ea95";
$ico-twitter: "\ea96";
$ico-vk: "\ea98";
$ico-youtube: "\ea9d";
$ico-youtube2: "\ea9e";
$ico-vimeo2: "\eaa1";
$ico-lanyrd: "\eaa2";
$ico-onedrive: "\eaaf";
$ico-github: "\eab0";
$ico-tux: "\eabd";
$ico-appleinc: "\eabe";
$ico-finder: "\eabf";
$ico-android: "\eac0";
$ico-windows: "\eac1";
$ico-windows8: "\eac2";
$ico-skype: "\eac5";
$ico-reddit: "\eac6";
$ico-linkedin: "\eac9";
$ico-chrome: "\ead9";
$ico-firefox: "\eada";
$ico-IE: "\eadb";
$ico-edge: "\eadc";
$ico-safari: "\eadd";
$ico-opera: "\eade";
$ico-file-pdf: "\eadf";
$ico-file-word: "\eae1";

