
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.s-loader {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-image: conic-gradient(from 0.51turn, hsl(30, 50%, 64%), hsla(35, 39%, 45%, 0) 0.43turn, hsl(146, 68%, 32%) 0.57turn, hsl(30, 50%, 64%))
    //, url("~@/assets/img/spinner-3-copy.svg")
;
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin infinite linear 1s;
    position: relative;
    box-shadow: 2px 0 18px 0px hsl(220, 90%, 80%);
    &:before {
        content: '';
        position: absolute;
        height: 39px;
        width: 39px;
        top: 3px;
        left: 3px;
        background-color: white;
        border-radius: 0 50% 50% 50%;
        transform: rotate(40deg);
    }
    &:after {
        content: '';
        position: absolute;
        height: 7px;
        width: 7px;
        top: -2px;
        left: calc(50% - 3px);
        background-color: hsl(60, 100%, 92%);
        border-radius: 50%;
        box-shadow: 2px 1px 8px 5px hsl(-10, 100%, 70%), 6px 3px 3px 6px hsl(200, 90%, 80%);
    }
}
//@import "~@/assets/css/icomoon/style.scss";
.sbtn-loader {
    @extend .s-loader;
    //@extend .ico-spinner-1;
    width: 20px;
    height: 20px;
    &:before {
        width: 14px;
        height: 14px;
    }
}

